In [5]:
from sklearn.neighbors.unsupervised import NearestNeighbors

from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from joblib import dump, load

Nous avons les sommes des activité telco des utilisateur sur les 6 dérnier mois. Les variables sont catégorisé en deux groupes. Il y a les variables originaux  (age, mosen , mosen), et les variables calculés (cavoice_catrechrg = cavoice / catrechg). Dans cette analyse nous nous intéresseront aux variations des balance des clients orange money

In [7]:
import pandas as pd
import warnings
import seaborn as sns
from sklearn.decomposition import PCA 
from sklearn.preprocessing import Normalizer
from sklearn.cluster import AffinityPropagation
from sklearn import metrics
import matplotlib.pyplot as plt
import numpy as np
warnings.filterwarnings('ignore')

In [8]:
#sql = 'SELECT * FROM `pamf-dwh.DFS_VIEW.approved`'
sql = '''SELECT subs.customer_id, cust.orange_id ,cust.alias  FROM `pamf-dwh.PAMF_AREA.fact_subscription` as subs 
join `pamf-dwh.PAMF_AREA.dim_customer` as cust on cust.customer_id = subs.customer_id 
where status = 1 and product_id = 1'''
credentials_path = '../pamf-dwh-775beaae50ff.json'
project_id = 'pamf-dwh'
approved = pd.read_gbq( sql, project_id, private_key=credentials_path, dialect='standard')

In [22]:
approved

      customer_id             orange_id                  alias
0          190217  PT131226.0938.D00638  PCPAMFMGMG00000190217
1          190258  PT190903.1016.525825  PCPAMFMGMG00000190258
2          190290  PT190209.0918.487068  PCPAMFMGMG00000190290
3          190315  PT180622.1157.812988  PCPAMFMGMG00000190315
4          190328  PT190605.0955.565429  PCPAMFMGMG00000190328
5          190338  PT120502.1030.000162  PCPAMFMGMG00000190338
6          190389  PT180206.1126.600520  PCPAMFMGMG00000190389
7          190419  PT171011.1559.090835  PCPAMFMGMG00000190419
8          190222  PT170318.0843.660391  PCPAMFMGMG00000190222
9          190233  PT190221.0952.555120  PCPAMFMGMG00000190233
10         190244  PT160810.1557.487463  PCPAMFMGMG00000190244
11         190292  PT160224.1535.630635  PCPAMFMGMG00000190292
12         190308  PT190809.1612.324602  PCPAMFMGMG00000190308
13         190313  PT180906.1728.676986  PCPAMFMGMG00000190313
14         190316  PT191104.1712.246382  PCPAMFMGMG00000190316
15         190352  PT171106.1000.460219  PCPAMFMGMG00000190352
16         190364  PT160506.1122.097955  PCPAMFMGMG00000190364
17         190366  PT121213.0945.D03084  PCPAMFMGMG00000190366
18         190371  PT170426.1059.121758  PCPAMFMGMG00000190371
19         190374  PT160530.1538.181467  PCPAMFMGMG00000190374
20         190392  PT190604.1612.563904  PCPAMFMGMG00000190392
21         190397  PT190409.1034.130814  PCPAMFMGMG00000190397
22         190456  PT180824.1605.556924  PCPAMFMGMG00000190456
23         190467  PT190518.1044.450520  PCPAMFMGMG00000190467
24         190469  PT160617.1545.274715  PCPAMFMGMG00000190469
25         190470  PT191102.1024.233747  PCPAMFMGMG00000190470
26         190473  PT190907.1253.565637  PCPAMFMGMG00000190473
27         190220  PT160309.0924.699557  PCPAMFMGMG00000190220
28         190221  PT160629.1036.304738  PCPAMFMGMG00000190221
29         190234  PT191025.0842.178061  PCPAMFMGMG00000190234
...           ...                   ...                    ...
88361      157654  PT190522.1455.485465  PCPAMFMGMG00000157654
88362      185927  PT190710.1048.036250  PCPAMFMGMG00000185927
88363      170356  PT190731.1535.253548  PCPAMFMGMG00000170356
88364      168940  PT190806.1134.292995  PCPAMFMGMG00000168940
88365      181115  PT190627.1216.800597  PCPAMFMGMG00000181115
88366      183974  PT190822.1005.405352  PCPAMFMGMG00000183974
88367      174143  PT190625.0933.785247  PCPAMFMGMG00000174143
88368      150440  PT190516.1513.424122  PCPAMFMGMG00000150440
88369      181120  PT190720.0931.111994  PCPAMFMGMG00000181120
88370      187376  PT181002.1157.078663  PCPAMFMGMG00000187376
88371      174111  PT190121.1707.311560  PCPAMFMGMG00000174111
88372      166831  PT190719.0820.099720  PCPAMFMGMG00000166831
88373      171753  PT190819.1302.381025  PCPAMFMGMG00000171753
88374      187323  PT190816.1523.368065  PCPAMFMGMG00000187323
88375      172820  PT190618.0929.694145  PCPAMFMGMG00000172820
88376      167973  PT190729.1122.223770  PCPAMFMGMG00000167973
88377      178797  PT190921.1045.669699  PCPAMFMGMG00000178797
88378      186902  PT191014.1452.048292  PCPAMFMGMG00000186902
88379      188543  PT190622.1233.732543  PCPAMFMGMG00000188543
88380      178602  PT190731.0851.247015  PCPAMFMGMG00000178602
88381      171507  PT190820.0910.385677  PCPAMFMGMG00000171507
88382      161281  PT190629.1720.816025  PCPAMFMGMG00000161281
88383      172032  PT190822.1136.407087  PCPAMFMGMG00000172032
88384      189024  PT191002.1627.805514  PCPAMFMGMG00000189024
88385      165902  PT190718.1116.094691  PCPAMFMGMG00000165902
88386      172533  PT190820.1734.394165  PCPAMFMGMG00000172533
88387      179311  PT181211.2002.768078  PCPAMFMGMG00000179311
88388      180750  PT190903.1608.532754  PCPAMFMGMG00000180750
88389      189866  PT191031.1046.222644  PCPAMFMGMG00000189866
88390      188793  PT191025.0856.178301  PCPAMFMGMG00000188793

[188391 rows x 3 columns]

In [9]:
dd = pd.read_csv('./data_OrangeNov2019_remaining.csv',sep=',')
def renameCols (collist):
    dnewcol={}
    for c in collist:
        newname = c.split(';')[0].replace(' ','')
        dnewcol[c]=newname
    return dnewcol
dd.rename(columns=renameCols(dd.columns),inplace=True)

In [10]:
neiboursSearch = load('15NN_sept_similarity.pkl')

In [11]:
dd.head(2)

,Unnamed:0,usr_id,age,cin,omsen,mosen,nr_rechrg,nr_erechrg,ca_rechrg,ca_erechrg,...,tcf_catcashin,cat_cashout,nrt_cashin,t_inout,nrt_cashout,ca_sms,type,Alias,OrangeId,ID_Number
0,0,PT180920.0731.821065,24.0,711412004849,408,408,0,0,0,0,...,0.0000,2000,1,2,1,0,prepaid,PCPAMFMGMG00000150451,PT180920.0731.821065,7.11412e+11
1,1,PT160509.1047.107626,29.0,715032021438,1272,4128,21,98,22000,73500,...,-0.0773,400000,4,9,5,120,prepaid,NaN,NaN,NaN

In [12]:
walletCol = ['cat_cashin' ,'cat_cashout','t_cf' ,'nrt_cashin'  ,'nrt_cashout' ,'t_inout' ,"nr_p2pin",'nr_p2pout','nr_saly' ,'ca_p2pin','ca_p2pout','ca_saly','ca_cashout','ca_cashin']
data = dd[walletCol+['usr_id','cin',]]
#karama = pd.read_excel('./Liste_beneficiaires_wallet_karama_actifs_01_au_31_juillet-19.xlsx')
#data= karama[['USER_ID']].merge(data,left_on='USER_ID',right_on='usr_id',how='right') # .describe()
#data.rename(columns={'USER_ID':'indice'},inplace=True)
#data['indice'] = data['indice'].apply(lambda x: 1 if x is not np.nan else 0)
#data['is_saly'] = data.ca_saly.apply(lambda x: 1 if x >0 else 0)

In [13]:
#initialBase = './bestBigloaner.xlsx'

initialBase = './bestBigsaver.xlsx'

In [14]:
data.head(2)# .usr_id

,cat_cashin,cat_cashout,t_cf,nrt_cashin,nrt_cashout,t_inout,nr_p2pin,nr_p2pout,nr_saly,ca_p2pin,ca_p2pout,ca_saly,ca_cashout,ca_cashin,usr_id,cin
0,2000,2000,0,1,1,2,0,0,0,0,0,0,2000,2000,PT180920.0731.821065,711412004849
1,371300,400000,-28700,4,5,9,0,0,0,0,0,0,400000,371300,PT160509.1047.107626,715032021438

In [15]:
def readMaxMoneyVal(filename):
    ''' this function return the PT of our savers '''
    df_money = pd.read_excel(filename)
    #sql = ''' SELECT rContactID, OrangeId FROM `pamf-dwh.DFS_VIEW.approved`  '''
    sql = '''SELECT cast(subs.customer_id as int64) as rContactID, cust.orange_id ,cust.alias  FROM `pamf-dwh.PAMF_AREA.fact_subscription` as subs 
join `pamf-dwh.PAMF_AREA.dim_customer` as cust on cust.customer_id = subs.customer_id 
where status = 1 and product_id = 1'''
    credentials_path = '../pamf-dwh-775beaae50ff.json'
    project_id = 'pamf-dwh'
    registered = pd.read_gbq( sql, project_id, private_key=credentials_path, dialect='standard')
    #registered.rContactID = registered.rContactID.apply(lambda x:int(x))
    #df_money.rContactID = df_money.rContactID.apply(lambda x:int(x))
    #registered.rename(columns={'customer_id':'rContactID'},inplace=True)
    #return df_money.merge(registered,on='rContacID', how='inner')[['orange_id']]
    return df_money,registered

In [16]:
df_money, registered = readMaxMoneyVal(initialBase)

In [17]:
df_money.rContactID = df_money.rContactID.apply(lambda x:int(x))
registered.rContactID = registered.rContactID.apply(lambda x:int(x))

In [18]:
df_money = df_money.merge(registered, on='rContactID')[['orange_id']] #.head(2)

In [19]:
"""def readMaxMoneyVal(filename):
    ''' this function return the PT of our savers '''
    df_money = pd.read_excel(filename)
    #sql = ''' SELECT rContactID, OrangeId FROM `pamf-dwh.DFS_VIEW.approved`  '''
    sql = '''SELECT subs.customer_id, cust.orange_id ,cust.alias  FROM `pamf-dwh.PAMF_AREA.fact_subscription` as subs 
join `pamf-dwh.PAMF_AREA.dim_customer` as cust on cust.customer_id = subs.customer_id 
where status = 1 and product_id = 1'''
    credentials_path = '../pamf-dwh-775beaae50ff.json'
    project_id = 'pamf-dwh'
    registered = pd.read_gbq( sql, project_id, private_key=credentials_path, dialect='standard')
    registered.rename(columns={'customer_id':'rContactID'},inplace=True)
    return df_money.merge(registered,on='rContacID')[['orange_id']]"""

'''data = data.merge(readMaxMoneyVal(initialBase), left_on='usr_id',right_on='orange_id',how='left')
'''
data = data.merge(df_money, left_on='usr_id',right_on='orange_id', how='left')

In [20]:
data['is_good_saver'] = data['orange_id'].apply(lambda x: 1 if x is not np.nan else 0)
#del data['OrangeId']


''''''

''

In [21]:
#data['is_one'] = data.is_good_saver  |  data.is_saly | data.indice

 #[data['orange_id']=='PT100702.0619.000001']

In [22]:
useableCol = ['cat_cashin', 'cat_cashout', 't_cf', 'nrt_cashin',
       'nrt_cashout', 't_inout', 'nr_p2pin', 'nr_p2pout', 'nr_saly',
       'ca_p2pin', 'ca_p2pout', 'ca_saly', 'ca_cashout', 'ca_cashin']

keyClient = data[data.is_good_saver==1]

In [23]:
similarClient= neiboursSearch.kneighbors(keyClient[walletCol],n_neighbors=200,return_distance=False) #[1].shape

fsimilarClient=similarClient.flatten()
unique  = list( set(fsimilarClient) )

In [24]:
data['is_similar_tobase'] = 0
data.loc[data.iloc[unique].index ,'is_similar_tobase'] =1
data.is_similar_tobase.fillna(0, inplace=True)
data['is_similar_tobase']=data.is_similar_tobase.astype(int)

data['all_suggestion'] = data.is_similar_tobase #| data.is_saly | data.indice

toTarget = data[data.all_suggestion==1]

toTarget = toTarget.drop(toTarget.query('cat_cashin==0 and cat_cashout==0').index)

removeMkajyUser= toTarget[ toTarget.usr_id.isin(approved.orange_id.unique()) ==False ] #[['usr_id','M1_Status']]

In [25]:
today = pd.datetime.today()
stoday = today.strftime('%d%M%y')

output = 'similartTo'+initialBase

In [93]:
removeMkajyUser[['usr_id']].to_csv(output+stoday+'.csv',index=False)

In [26]:
removeMkajyUser

,cat_cashin,cat_cashout,t_cf,nrt_cashin,nrt_cashout,t_inout,nr_p2pin,nr_p2pout,nr_saly,ca_p2pin,ca_p2pout,ca_saly,ca_cashout,ca_cashin,usr_id,cin,orange_id,is_good_saver,is_similar_tobase,all_suggestion
1,371300,400000,-28700,4,5,9,0,0,0,0,0,0,400000,371300,PT160509.1047.107626,715032021438,NaN,0,1,1
13,256000,268550,-12550,5,5,10,3,2,0,146000,121550,0,147000,110000,PT180903.1649.643233,411052005370,NaN,0,1,1
33,1756900,1582000,174900,15,14,29,2,1,0,31300,32000,0,1550000,1725600,PT180801.1516.287746,304012037554,NaN,0,1,1
35,1553000,1511850,41150,18,18,36,13,1,0,942200,41850,0,1470000,610800,PT110404.1457.000002,103322005978,NaN,0,1,1
65,718900,792150,-73250,20,19,39,2,17,0,14000,562150,0,230000,704900,PT170323.1515.689512,514032003726,NaN,0,1,1
71,318350,226150,92200,10,5,15,4,2,0,237800,31150,0,195000,80550,PT160907.1058.600145,301071033451,NaN,0,1,1
72,89000,80000,9000,3,2,5,0,0,0,0,0,0,80000,89000,PT170530.1515.486881,716011011546,NaN,0,1,1
90,1541750,1518075,23675,27,28,55,7,3,0,519800,156675,0,1361400,1021950,PT171007.1101.015491,101242144313,NaN,0,1,1
105,2000000,1955300,44700,3,8,11,0,6,0,0,1803300,0,152000,2000000,PT180802.1552.305983,18AC19125E3,NaN,0,1,1
118,2720300,3170000,-449700,9,14,23,2,0,0,639800,0,0,3170000,2080500,PT110323.0937.000158,718991031055,NaN,0,1,1
121,604350,20000,584350,2,1,3,1,0,0,10350,0,0,20000,594000,PT150610.0840.063898,101251067928,NaN,0,1,1
125,2122000,2104300,17700,4,5,9,2,3,0,805500,1304300,0,800000,1316500,PT120425.0954.000066,715012000524,NaN,0,1,1
127,1422000,1400000,22000,1,1,2,1,0,0,1422000,0,0,1400000,0,PT111004.1549.000002,501992039132,NaN,0,1,1
134,1935900,1782200,153700,8,14,22,0,1,0,0,124200,0,1658000,1935900,PT111107.0746.000001,710012036706,NaN,0,1,1
141,98200,95500,2700,3,2,5,0,0,0,0,0,0,95500,98200,PT190906.1038.557372,406012033547,NaN,0,1,1
142,6802100,6723900,78200,47,22,69,27,4,0,3451500,686000,0,6037900,3350600,PT150923.1033.484917,303302008210,NaN,0,1,1
162,1252800,1221800,31000,22,23,45,2,1,0,67500,254100,0,967700,1185300,PT190318.1052.765761,719252001331,NaN,0,1,1
163,1197000,1181600,15400,6,9,15,0,1,0,0,401600,0,780000,1197000,PT120203.0927.000001,710012027729,NaN,0,1,1
173,88430,0,88430,10,0,10,0,0,0,0,0,0,0,88430,PT160620.1035.278125,717011000684,NaN,0,1,1
180,0,9000,-9000,0,6,6,0,0,0,0,0,0,9000,0,PT160716.0933.384537,710011013585,NaN,0,1,1
191,4761900,4003800,758100,15,15,30,0,3,0,0,535800,0,3468000,4761900,PT180628.1140.837987,101252142062,NaN,0,1,1
195,914400,500000,414400,4,3,7,2,0,0,604800,0,0,500000,309600,PT160222.0936.625349,413012019260,NaN,0,1,1
197,383202,368000,15202,12,12,24,0,1,0,0,10000,0,358000,383202,PT190314.0849.735451,710011062461,NaN,0,1,1
204,734400,709300,25100,12,12,24,1,0,0,60000,0,0,709300,674400,PT190613.1012.612677,102272000779,NaN,0,1,1
226,10000,10000,0,1,1,2,0,0,0,0,0,0,10000,10000,PT190427.1434.250725,101251108565,NaN,0,1,1
254,0,1,-1,0,1,1,0,0,0,0,0,0,1,0,PT170801.1701.604851,101241054493,NaN,0,1,1
263,373200,348250,24950,18,18,36,0,5,0,0,47250,0,301000,373200,PT190410.1129.141554,405171010205,NaN,0,1,1
282,2227700,2149300,78400,13,39,52,6,14,0,1588900,600850,0,1548450,638800,PT180201.1611.544385,101231145682,NaN,0,1,1
283,3811949,3363400,448549,84,33,117,22,3,0,1241700,120600,0,3242800,2570249,PT160708.1100.364385,10311M201872,NaN,0,1,1
293,210000,204000,6000,2,5,7,0,4,0,0,166000,0,38000,210000,PT170106.0954.261697,508991020770,NaN,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2051769,1423000,1347150,75850,26,60,86,0,9,0,0,385150,0,962000,1423000,PT121031.0934.A06387,403011001682,NaN,0,1,1
2051784,3637600,3374000,263600,20,24,44,4,13,0,556000,1492000,0,1882000,3081600,PT150912.1357.399200,401011027072,NaN,0,1,1
2051808,68800,46600,22200,4,3,7,1,0,0,10000,0,0,46600,58800,PT190330.1802.033951,401032053592,NaN,0,1,1
2051811,1521500,1484300,37200,32,29,61,3,1,0,77600,100000,0,1384300,1443900,PT151016.0919.182177,508992009802,NaN,0,1,1
2051812,5283501,4927000,356501,28,32,60,0,1,0,0,100000,0,4827000,5283501,PT170127.0639.324382,712092003233,NaN,0,1,1
2051820,238300,435000,-196700,4,5,9,0,0,0,0,0,0,435000,238300,PT120514.0942.000052,718992033683,NaN,0,1,1
2051821,2635275,2714200,-78925,21,17,38,8,4,0,1320025,1833700,0,880500,1315250,PT170610.1339.648897,715052017948,NaN,0,1,1
2051845,881790,861300,20490,5,5,10,1,0,0,151820,0,0,861300,729970,PT190502.1422.272376,508091015117,NaN,0,1,1
2051862,301950,293350,8600,8,6,14,0,2,0,0,73350,0,220000,301950,PT110621.1534.000003,401991023365,NaN,0,1,1
2051870,3048300,3635700,-587400,8,11,19,1,1,0,82500,155200,0,3480500,2965800,PT180810.1548.444685,711992204533,NaN,0,1,1
2051899,1030175,831650,198525,6,9,15,3,6,0,295675,401650,0,430000,734500,PT170602.0856.518291,710011031112,NaN,0,1,1
2051903,517851,486000,31851,13,15,28,5,4,0,125450,99000,0,387000,392401,PT180821.1547.518223,712012004629,NaN,0,1,1
2051912,104500,100000,4500,2,2,4,1,0,0,72500,0,0,100000,32000,PT191022.1503.111406,308302010945,NaN,0,1,1
2051914,58683275,57624600,1058675,577,517,1094,553,517,0,58353575,57624600,0,0,329700,PT140422.0957.A02696,711071000118,NaN,0,1,1
2051933,25800,0,25800,1,0,1,1,0,0,25800,0,0,0,0,PT190606.0905.568190,715012031178,NaN,0,1,1
2051935,53072800,51346200,1726600,54,109,163,7,106,0,4478800,46016200,0,5330000,48594000,PT140826.0916.A00541,102661009841,NaN,0,1,1
2051958,143000,169500,-26500,5,9,14,3,0,0,112000,0,0,169500,31000,PT190501.0931.264919,401032037727,NaN,0,1,1
2051963,620252,583200,37052,33,33,66,0,2,0,0,155200,0,428000,620252,PT181123.1655.606778,421031003097,NaN,0,1,1
2051965,720800,700000,20800,2,2,4,0,0,0,0,0,0,700000,720800,PT180424.1550.322835,220492003353,NaN,0,1,1
2051990,759303,746200,13103,5,4,9,0,1,0,0,204200,0,542000,759303,PT161122.1109.033396,716051004539,NaN,0,1,1
2052001,143800,134000,9800,5,8,13,0,0,0,0,0,0,134000,143800,PT120604.1548.D00515,303011010155,NaN,0,1,1
2052006,623401,679500,-56099,17,10,27,0,0,0,0,0,0,679500,623401,PT170606.0938.542615,719091006445,NaN,0,1,1
2052011,124000,119900,4100,3,3,6,1,1,0,30000,29900,0,90000,94000,PT171115.1027.669205,214011008495,NaN,0,1,1
2052015,7986100,9815900,-1829800,18,33,51,7,8,0,2805800,2015900,0,7800000,5180300,PT110323.0929.000129,101242048634,NaN,0,1,1
2052035,89200,0,89200,1,0,1,1,0,0,89200,0,0,0,0,PT160304.1828.693603,101231146864,NaN,0,1,1
2052039,692500,690000,2500,3,5,8,0,0,0,0,0,0,690000,692500,PT170726.1445.504434,220131007715,NaN,0,1,1
2052045,754101,714500,39601,16,15,31,7,1,0,238700,25800,0,688700,515401,PT120507.0953.000439,301012005663,NaN,0,1,1
2052047,2200,2000,200,1,1,2,0,0,0,0,0,0,2000,2200,PT181201.1627.654192,301072004786,NaN,0,1,1
2052069,2993800,2906200,87600,9,8,17,3,1,0,640500,62200,0,2844000,2353300,PT180905.1149.658571,107012012315,NaN,0,1,1
2052086,956444,935600,20844,11,21,32,0,0,0,0,0,0,935600,956444,PT190805.1311.284020,110012019917,NaN,0,1,1

In [27]:
sept_recrut = pd.read_csv('recrutementSept_baseEpargne.csv', sep=',')

In [30]:
a = set(sept_recrut['usr_id'])

In [32]:
b = removeMkajyUser['usr_id']

In [35]:
len(a)

100636

In [36]:
len(b)

161654

In [38]:
r=set(b)-set(a)

In [39]:
len(r)

114403

In [42]:
new_list= pd.DataFrame(r,columns=['usr_id'])

In [44]:
new_list = new_list.merge(removeMkajyUser, on='usr_id', how='inner')

In [45]:
len(new_list)

114403

In [47]:
new_list[['usr_id']].to_csv(output+stoday+'.csv',index=False)

In [49]:
stoday

'110919'